DEXMV_SIM=/home/smgbro/dexmv-sim
DEXMV_LEARN=/home/smgbro/dexmv-learn
CONDA_ENV=dexmv
CONDA_BIN=/home/smgbro/miniconda3/bin/conda
LD_LIBRARY_PATH=/home/smgbro/.mujoco/mujoco200/bin:/usr/lib/x86_64-linux-gnu
LD_PRELOAD=/usr/lib/x86_64-linux-gnu/libstdc++.so.6
PYTHONPYCACHEPREFIX=/tmp/fromrealhand-pycache
